/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif;
    background: #1c5a7c;
    color: #f3ebab;
    background: url(../img/page-bg.png) ;
}

a {
    color: #f3ebab;
    text-decoration: none;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.header-main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 0 1em 0;
}

    .header-main > * {
        margin: 0.1em;
    }

    .icon-logo {
        font-size: 7em;
        order: 2;
    }

    .header-title {
        order: 3;
    }

    .header-title h1 {
        margin: 0;
    }

    .header-title .pronounciation {
        font-size: 1.3em;
        opacity: .5;
    }

    .establishment-date {
        text-transform: uppercase;
        border-top: solid 2px;
        border-bottom: solid 2px;
        order: 1;
    }


.content {
    display: flex;
    flex-direction: column;
}

    .content > * {
        padding: 0.5em;
    }


.section__title {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Ultra', serif;
    font-weight: normal;
    font-size: 2.1em;
    white-space: nowrap; 
}

    .section__title--subheading {
        text-align: center;
        text-transform: uppercase;
        margin-top: -1em;
    }
 

    .fancy-side-lines:before, 
    .fancy-side-lines:after  {
        content: '\00a0';
        display: inline-block;
        position: relative;
        width: 10%;
        top: .7em;
        height: .1em;
        border-top: solid 2px;
        border-bottom: solid 2px;
    }

        .fancy-side-lines:before {
            margin-right: .5em
        }

        .fancy-side-lines:after {
            margin-left: .5em
        }


    .fancy-shadow--light {
        text-shadow: 2px 2px #f3ebab, 3px 3px #1c5a7c;
    }

    .fancy-shadow--dark {
        text-shadow: 2px 2px #1c5a7c, 3px 3px #f3ebab;
    }

    .simple-shadow--light {
        text-shadow: 2px 2px #f3ebab;
    }

    .simple-shadow--dark {
        text-shadow: 2px 2px rgba(0,0,0,.3);
    }

.section__card-group {
    display: flex;
    margin: 0;
    padding: 0;
}

    .section__card-group > * {
        display: block;
        padding: 1.5em;
        margin: 1em;
        background-color: #f3ebab;
        color: #1c5a7c;
        box-shadow: 6px 6px rgba(0, 0, 0, 0.2);
    }


.section__group {
    display: flex;
    margin: 0;
    padding: 0;
}

    .section__group > * {
        display: block;
        margin: 1em;
        padding: 1.5em;
        color: #f3ebab;
        /* box-shadow: 6px 6px rgba(0, 0, 0, 0.2); */
    }


.feature-icon {
    font-size: 9em;
    display: block;
}


.intro {
    display: flex;
}
    
    .intro > * > * {
        padding: 2.2em;
    }

    .intro__brief {
        padding-top: 13em;
        flex-grow: 3;
        color: #f3ebab;
        background: url(../img/activism.png) center no-repeat ;
        background-size: cover;
        border: solid 6px;
    }

    .intro__brief p {
        font-size: 2em;
        line-height: 1em;
        letter-spacing: -.009em;
        font-weight: bold;
        margin: 0;
    }

    .intro__mission {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        text-align: center;
        font-size: 1em;
        flex-grow: 1;
        background: url(../img/activism-2.png) center no-repeat ;
        background-size: cover;
    }

    .intro__mission h2 {
       text-transform: uppercase;
       font-weight: normal;
       font-size: 2em;
       margin: 0;
       font-family: 'Ultra', serif;
    }


.process ol {
    counter-reset: fancy-counter;
}

    .process__listen {
        background: url(../img/conversations.png) center no-repeat ;
        background-size: cover;
    }

    .process__sell {
        background: url(../img/posters.png) center no-repeat ;
        background-size: cover;
    }

    .process__profit {
        background: url(../img/happiness.png) center no-repeat ;
        background-size: cover;
    }

    .process ol li {
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2.2em;
        flex-basis: 0;
        flex-grow: 2;
    }

    .process ol li:before {
        content: counter(fancy-counter,decimal-leading-zero);
        counter-increment: fancy-counter;
        display: block;
        text-align: center;
        font-size: 10em;
        font-family: 'Ultra', serif;
        margin-bottom: -1em;
        opacity: 0.4;
        line-height: 1em;
    }

    .section--double-border:after {
        content: '\00a0';
        position: absolute;
        background: none;
        border: dotted 4px;
        top: 0.8em;
        left: 0.8em;
        right: 0.8em;
        bottom: 0.8em;
    }
    
    .process ol li strong {
        font-weight: bold;
        font-size: 1.8em;
        line-height: 0.9em;
    }

    .process ol li .feature-icon {
        line-height: 1em;
        z-index: 1;
    }

.services ul li {
    flex-grow: 1;
    flex-basis: 0;
}
    
    .services ul li strong {
        font-size: 1.4em;
        line-height: 1em;
        font-weight: bold;
    }

    .services ul li .feature-icon {
        font-size: 6em;
        margin-bottom: -.9em;
        opacity: 0.3;
        text-align: right;
    }

    .services__text {
        text-align: left;
    }


.cta-mega {
    text-align: center;
    padding: 4em 0;
    background-color: rgba(0,0,0,.2);
    border-top: solid 6px rgba(0,0,0,.1);
}

    .cta-mega__inner {
        border: dotted 4px;
        padding: 1em;
        width: 50%;
        margin: 0 auto;
    }

    .cta-mega__inner > * {
        display: block;
    }

    .cta-mega__main {
        font-size: 2em;
        font-weight: bold;
        text-transform: uppercase;
    }


.footer {
    display: flex;
    font-size: .8em;
    background-color: rgba(0,0,0,.4);
    border-top: solid 6px rgba(0,0,0,.1);
}

    .icon-logo-icon {
        font-size: 4em;
    }

    .cta-job {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        border: solid 1px;
    }

    .footer strong {
        text-transform: uppercase;
    }

    .footer > * {
        padding: 1.5em;
        margin: 1em; 
    }


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
